[submodule "experiments/baseline/ansible/roles/ceph"]
	path = ansible/ceph
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "experiments/baseline/ansible/roles/srl"]
	path = ansible/srl
	url = https://github.com/systemslab/srl-roles.git
